#page-landing{
    width:  100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background-color: var(--color-primary);
    
}

#page-landing .page-landing-topBar{
    margin-bottom: 25px;
    margin-top: 25px;
}

#page-landing .page-landing-topBar .page-landing-topBar-content{
    display: flex;
    height: 4rem;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.6rem;
}

.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: 400 1.6rem Poppins;
    margin-left: 10px;
    color: var(--color-text-in-name-perfil);

    height: 6rem;
    width: 16rem;
    border-radius: 8px;
}

.perfil img {
    width: 4rem;
    height: 4rem;
    margin: 0px 10px;
}

#page-landing .page-landing-topBar-content a{
    text-decoration: none !important;
    font: 400 1.6rem Poppins;
}

.logo-container img {
    height: 7rem;
}

.hero-image {
    width: 100%;
    height: 200px;
}

.logo-container {
    text-align: center;
    margin-bottom: 1.8rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    
    margin: 2rem 0;
}

.buttons-container a {
    width: 16rem;
    height: 7rem;
    border-radius: 0.8rem;
    font: 700 1.6rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}
/* aplicando o css apenas no primeiro botão */
.buttons-container a:first-child {
    margin-right: 1.6rem;
}

.buttons-container a img {
    width: 3rem;
}

.buttons-container a.study{
    background-color: var(--color-primary-lighter);
}

.buttons-container a.give-classes{
    background-color: var(--color-secundary);
}

.buttons-container a.study:hover{
    background-color: var(--color-primary-light);
}

.buttons-container a.give-classes:hover{
    background-color: var(--color-secundary-dark);
}

.buttons-container a img {
    margin-right: 1.4rem;
}

.total-connections{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.total-connections img {
    margin-top: 1.8rem;
    margin-left: -1.8rem;
    /* margin-left: 0.8rem; */
}

.footer-principal {
    padding: 2rem;
    margin-top: -1.6rem;
}

.footer-principal p{
    margin-bottom: 1.6rem;
}

/* @media (min-width: 700px){
    #page-landing .page-landing-topBar{
        margin-top: 18rem;
    }

    .footer-principal {
        margin-top: -10rem;
    }
} */


@media (min-width: 1100px){
    #page-landing{
        margin-top: -30%;
    }

    #page-landing .page-landing-topBar .page-landing-topBar-content{
        margin-top: 200px;
    }

    #page-landing-content{
        max-width: 1100px;
        margin: 0px 200px 0px 200px;
        display: grid;
        grid-template-rows: 300px 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
        'logo hero hero'
        'total buttons buttons'
        ;
        
    }

    .logo-container {
        grid-area: logo;
        align-self: center;
        text-align: left;
        margin: 0;
    }

    .logo-container{
        width: 100%;
        /* margin-top: -10rem; */
    }

    .logo-container h2 {
        text-align: initial;
        font-size: 3.6rem;
    }

    .logo-container img {
        height: 100%;
    }

    .hero-image {
        grid-area: hero;
        justify-self: end;
    }

    .hero-image {
        width: 100%;
        height: 100%;
    }

    .buttons-container {
        grid-area: buttons;
        justify-content: flex-start;
    }

    .buttons-container {
        display: flex;
        justify-content: center;
        margin: 2.4rem 0;
    }
    
    .buttons-container a {
        width: 30rem;
        height: 10.4rem;
        border-radius: 0.8rem;
        font: 700 2.0rem Archivo;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        text-decoration: none;
        color: var(--color-button-text);
    
        transition: background-color 0.2s;
    }

    .buttons-container a{
        width: 24rem;
        height: 9rem;
        font-size: 1.8rem;
    }

    .total-connections {
        font-size: 1rem;
        margin-left: 100px;
        max-width: 200px;
        grid-area: total;
        justify-self: end;
        color: var(--color-text-complement);
    }

    .footer-principal{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 70%;
        padding: 0 12rem;
        width: 100%;
    }

    .footer-principal p {
        margin-top: 1.2rem;
        color: var(--color-text-base);
    }

    .total-connections {
        text-align: center;
        margin-top: 1.2rem;
    }

    .total-connections img {
        width: 12px;
        position: absolute;
        margin-top: 18px;
        margin-left: 85px;
        opacity: 0.8;
    }

}