#page-password-recovery{
    width: 100vw;
    height: 100vh;
}

#page-password-recovery .page-password-recovery-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* background-color: var(--color-text-in-primary); */
}

#page-password-recovery .top-bar-container{
    display: block;
    width: 100%;
    padding: 5rem;
}

#page-password-recovery #logo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    height: 250px;
} 

#page-password-recovery #logo-content .background-img {
    width: 0px;   
}

#page-password-recovery #logo-content .logo-content-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#page-password-recovery #logo-content .logo-content-principal img{
    margin-top: 10px;
    margin-left: 4rem;
}

#page-password-recovery #logo-content .logo-content-principal h3{
    font: 400 1.6rem Poppins;
    margin-left: 4rem;
}

#page-password-recovery #logo-content {
    background-color: var(--color-primary);
}

@media(min-width: 1100px){
    #page-password-recovery{
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-background);
        overflow: hidden;
    }

    #page-password-recovery .page-password-recovery-content .top-bar-container{
        margin-bottom: 10rem;
        margin-right: 22rem;
    }

    #page-password-recovery .page-password-recovery-content {
        width: 100%;
    }

    #page-password-recovery #logo-content {
        margin-top: -1px;
    }

    #page-password-recovery #logo-content .background-img {
        width: 90%;
        height: 90%;
    }
    #page-password-recovery .top-bar-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #page-password-recovery form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #page-password-recovery h2 {
        font: 700 2.8rem poppins;
        color: #32264D;
        margin-bottom: 2rem;
    }

    #page-password-recovery span {
        font: 400 1.3rem Poppins;
        margin-top: -0.8rem;
        margin-bottom: 3.2rem;
    }

    #page-password-recovery button {
        margin-top: 2rem;
        margin-bottom: 18rem;
    }

    #page-password-recovery #form-password-recovery .form-password-recovery-content{
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    /* estilos da logo */
    #page-password-recovery #logo-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
    }

    #page-password-recovery  #logo-content img {
        max-width: 90%;
        max-height: 90%;
        overflow: hidden;
    }

    #page-password-recovery  #logo-content .logo-content-principal {
        display: flex;
        flex-direction: column !important;
    }

    #page-password-recovery #logo-content .logo-content-principal img{
        margin-top: -385px;
        margin-left: 4rem;
    }
    #page-password-recovery #logo-content .logo-content-principal h3{
        position: absolute;
        margin-top: -280px;
        margin-right: 60px;
        max-width: 300px;
        font: 400 2.4rem Poppins;
        color: var(--color-text-in-primary);
    }
}